body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    
    font-family: Roboto, sans-serif;
	overflow: scroll;
}


.header, .footer, .intro {
    background-color: #1F2937;
}

.header, .intro {
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 8%;
}

.header {
    flex: .5 1 auto;
    display: flex;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
}

.logo {
    flex-grow: 1;
    font-size: 24px;
    color: #F9FAF8;
}

.intro {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    
}

.img-container {
    flex: 1 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    margin-top: 25px;
    margin-bottom: 20px;
}

.intro-left {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.intro-left button{
    border: 0px;
    background-color: #3882F6;
    cursor: pointer;
	padding: 8px 16px;
    align-items: flex-start;
    color: #F9FAF8;
}

.intro-left span {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.info-one {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-top: 25px;
	padding-bottom: 35px;
}

.info-title {
    align-self: center; 
	font-size: 36px;
	font-weight: extra-bold;
	color: #1F2937;
}

.card-container {
	flex: 1 0 35%;
    display: flex;
	justify-content: center;
	gap: 20px;
}

.card {
	display: flex;
	flex-direction: column;
}

.card img {
	flex: 1 0 auto;
    height: 150px;
	border: 2px solid #3882F6;
	border-radius: 15%;
}



.info-two {
    flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20% 2%;
	background-color: #E5E7EB;
}

.quote {
	display: flex;
	flex-direction: column;
}

.quote p {
	font-size: 36px;
	font-style: italic;
	color: #1F2937;
}

.quote span {
	align-self: flex-end;
	font-weight: bold;
}

.info-three {
    flex: 1 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 60px 0;
	color: #F9FAF8;
}

.sign-up {
	display: flex;
	background-color: #3882F6;
	gap: 35px;
	padding: 15px 75px;
}

.sign-up button {
	align-self: center;
	background-color: #3882F6;
	border: 1px solid white;
	cursor: pointer;
	padding: 8px 16px;
	border-radius: 8px;
	color: #F9FAF8;
}

.sign-up span {
	font-weight: bold;
}

.footer {
    flex: .5 1 auto;
	color: #F9FAF8;
	display: flex;
	align-items: center;
	justify-content: center;
}
